html {
    scroll-behavior: smooth;
}
ol.breadcrumb{
    display: block;
    margin-bottom: 5px;
}
ol.breadcrumb>li {
    display: unset;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
ol.breadcrumb a, .s-select, .c-select, .o-select, .hb-select, .o2-select{
    color: #777777;
}
body #content .pro_main_c .slider_1 {
    padding: 0px 10px;
    margin-bottom: 23px;
    box-shadow: none;
}
.row #image-block .flex-control-thumbs {
    display: flex;
    overflow-x: scroll;
}

.row #image-block .flex-control-thumbs img {
    min-width: 72px;
    height: 72px;
    object-fit: contain;
}
.ab-title, .ab-price{
    padding: 4px 10px;
}
#content .ab-title .title{
    padding: 0;
}
#content .ab-title .title h2, .accordion{
    text-align: start;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
    font-family: 'Open Sans';
}
#content .ab-title .title .spr-badge{
    text-align: start;
}
.ab-title .spr-badge {
    display: flex;
    align-items: center;
}
span.guarantee {
    display: flex;
    align-items: center;
}
span.guarantee, .ab-title .spr-badge-caption{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #333333;
}
.ab-title .spr-badge-caption{
    border-bottom: 1px solid #333333;
}
.guarantee svg {
    margin: 0 10px 0 20px;
}
.ab-price p{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
}
.ab-price #productPrice{
    font-weight: 500;
    font-size: 28px;
    line-height: 39px;
    color: #333333;
}
.ab-price #comparePrice{
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-decoration: line-through;
    margin-left: 10px;
    color: #777777;
}


.accordion-menu .accordion {
    background-color: #fff;
    cursor: pointer;
    padding: 15px 40px 15px 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #333333;
    pointer-events: none;
    opacity: .5;
    
  }
  .accordion .ac-arrow{
    font-size: 18px!important;
    transform: rotate(90deg);
    position: absolute;
    right: 25px;
    top: 15px;
    font-weight: 300;
}
button.accordion.enable {
    pointer-events: auto;
    opacity: 1;
}
.accordion.active .ac-arrow{
    transform: rotate(270deg);
    right: 20px;
}
.accordion.active + .panel{
    max-height: 100%;
    padding-bottom: 20px;
}
.accordion-menu{
    position: relative;
    padding-top: 15px;
}
.accordion-menu .accordion:first-child{
    border-top: 2px solid #EFEFEF !important;
    border: none;
    background: no-repeat;
}
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    box-shadow: none;

}
.panel.size-tab input , .panel.other-tab input, .panel.hb-tab input, .panel.other2-tab input, .owl-controls .owl-nav, .owl-item .on-sale{
    display: none !important;
}

.panel.size-tab label, .panel.other-tab label, .panel.hb-tab label, .panel.other2-tab label {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #5c5c5c;
    padding: 10px;
    border: 1.5px solid #c4c4c4;
    border-radius: 6px;
    margin: 5px;
}
.size-op.chacked + label{
    background-color: red;
}
.d-select{
    color: #00B77E;
}
.panel.size-tab .label-select, .panel.other-tab .label-select, .panel.hb-tab .label-select, .panel.other2-tab .label-select{
    border: 2px solid #00B77E;
    color: #00B77E;
}
.qtip.qtip-default.qtip-swatch.qtip-bootstrap.qtip-pos-bc {
    display: none !important;
}
.panel.color-tab .mw-option-swatch label{
    display: none;
}
.common-accordian:last-child{
    border-bottom: 2px solid #EFEFEF;;
}


.ab-add-to-cart {
    display: flex;
    justify-content: center;
    padding-top: 125px;
    position: relative;
}

.ab-add-to-cart .ab-cart-btn {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    background: #CDCDCD;
    border-radius: 101px;
    border: none;
    padding: 18px;
    width: 94%;
    pointer-events: none;
    opacity: .5;
    position: relative;
}
.ab-cart-btn-active{
    background: #00B77E !important;
    pointer-events: auto !important;
    opacity: 1 !important;
}
.con-price-div {
    position: absolute;
    bottom: 85px;
    left: 15px;

}
.free-man{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 15px;
}
.free-man {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #000;
    padding: 30px 0px;
    margin: 0px 15px;
    border-bottom: 2px solid #EFEFEF;
}
.free-man span {
    color: #00B77E;
}
.free-man p {
    padding-left: 10px;
    font-weight: 500;
}
.ab-klarna{
    font-size: 14px;
    line-height: 26px;
    color: #333333;
}
.ab-klarna p{
    padding-left: 10px;
}

.color-tab .swatch-option{
    width: calc( 100% - 5px) !important;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: -20px;
}
.color-tab .swatch-value-container {
    padding: 10px 0 0 0; 
    background: #FFFFFF;
    border: 1.5px solid #c4c4c4;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100px;
    flex-wrap: wrap;
    min-height: 130px;
    min-width: 100px;
    border-radius: 6px;
    cursor: pointer;
}
.color-tab .swatch-value-container span{
    font-weight: 500;
    font-size: 14px;
    color: #5C5C5C;
    text-align: center;
    padding: 5px 8px;
    cursor: pointer;
}
.color-tab .swatch-value-container .swatch-image{
    height: 80px !important;
    width: 80px !important;
    line-height: 22px;
    color: #5C5C5C;
    text-align: center;
    margin: 0 !important;
    border-radius: 0;
    cursor: pointer;
}

.dec-accordion {
    background-color: #fff;
    cursor: pointer;
    padding: 15px 50px 15px 15px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    position: relative;
    border-top: 2px solid #EFEFEF;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
}

.dec-accordion span {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
    padding-left: 5px;
}


.dec-panel {
    padding: 5px 18px 15px;
    background-color: white;
    max-height: auto;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.9);
}
.dec-accordion .ac-arrow{
    font-size: 18px!important;
    transform: rotate(270deg);
    position: absolute;
    right: 20px;
    top: 15px;
    font-weight: 300;
}
.dec-accordion.dec-active .ac-arrow {
    transform: rotate(90deg);
    right: 25px;
}

  
  .dec-accordion.dec-active + .dec-panel{
    max-height: 0 !important;
  }
  body .owl-carousel .owl-stage {
    display: flex;
}
body .owl-carousel .owl-item{
    margin: 5px;
}
  body #content .owl-item .main_box{
      border: none;
      border-radius: 0;
      border-bottom: 4px solid #2A364F;
      height: 100% !important;
  }

  #content .main_box .desc p {
    font-weight: 400;
    font-size: 12px !important;
    line-height: 16px;
    color: #828282;
    order: 1;
}
#content .main_box .desc h5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    text-transform: capitalize;
    order: 2;
    padding: 10px 0px;
}
#content .main_box .desc h5 a{
    color: #333333 !important;
}
#content span.spr-badge {
    order: 3;
    text-align: left;
    font-size: 12px;
}
.re-pd-price{
    order: 5;
}
.main_box .desc .price{
    order: 4;
    color: #333333 !important;
    display: none;
}
#content span.spr-badge[data-rating="0.0"]{
    display: none;
}
.dec-panel p{
    padding: 8px 0;
}
.dec-main-acc .dec-panel p span{
    
    color: rgba(0, 0, 0, 0.9) !important;
}
.dec-main-acc  a, .dec-main-acc a:hover{
    color: rgba(0, 0, 0, 0.9) !important;
}
.dec-panel ul li {
    list-style: disc !important;
    margin-left: 18px;
    font-size: 14px;
    color: #333333 !important;
}
.dec-panel img {
    width: 100%;
}
.dec-main-acc{
    padding: 0;
}
.dec-main-acc.rte ul, .dec-main-acc.rte ol {
    margin: 0;
    
}
.review-acc .dec-accordion{
    display: flex;
    justify-content: start;
    align-items: center;
}

.ab-review-panal #shopify-product-reviews .spr-header-title, .ab-review-panal #shopify-product-reviews .spr-header{
    display: none;
}
.ab-review-panal #shopify-product-reviews, .ab-review-panal #shopify-product-reviews .spr-container{
    margin: 0;
    padding: 0;
}
.ab-review-panal .spr-review {
    border-top: 2px solid #EFEFEF;
}
.ab-review-panal .spr-review-footer, .ab-review-panal .spr-pagination {
    display: none;
}
.ab-review-panal .spr-review-header h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}
.ab-review-panal .spr-review-content, .ab-review-panal .spr-review{
    margin: 0;
    padding-bottom: 0;
}
#ab_read_more{
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    text-align: center;
    cursor: pointer;
}
#shopify-product-reviews .spr-reviews{
    display: block !important;
    margin: 0;
}
.ab-review-panal .spr-reviews .spr-review:first-child {
    border: none;
    padding: 0;
    margin: 0;
}


.mfp-wrap .mfp-content .mfp-with-anim.modal-popup{
    display: none !important;
}

.mfp-bg.mfp-move-from-top.mfp-ready{
    opacity: 0 !important;
}
#content .main_box .re-pd-price > p{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #333333;
}
.re-pd-price{
    padding-top: 10px;
}
#content .main_box .re-rg-price{
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #333;
}
#content .main_box .re-main-price{
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    color: #828282;
}
body #content .main_box .save-price{
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    color: red !important;
}
body #content .main_box .price-footer {
    padding-top: 10px;
    color: #333333;
}
body #content .main_box .price-footer span{
    color: #00B77E;
    font-weight: 700;
}
.dec-panel table {
    table-layout: fixed;
    width: 100%;
}
.dec-panel table td{
    word-wrap: break-word;
    width: auto !important;
    padding: 7px !important;
}

.con-price-div p{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    
}
.con-price-div .pay-price{
    font-weight: 500;
    font-size: 31px;
    line-height: 42px;
    color: #333333;
}
.con-price-div .com-price{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
}
.con-price-div .you-save{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: red;
}

#addBasketModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }

.add-basket-modal-content {
    padding: 15px;
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
  }
  /* The Close Button */
  .add-basket-close {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
  }
  .add-basket-close span, #abCheckoutBtn span, #abViewBasket span{
    padding-left: 10px;
  }
  
  .add-basket-close:hover,
  .add-basket-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .add-basket-modal-header {
    text-align: end;
  }
  
  .add-basket-modal-body {
      padding: 10px 0px;
    }
  

  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }

.add-basket-modal-body .adtb-heading{
    padding: 10px 0px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #00B77E;
    text-align: center;
}
.ab-checkout, .ab-view-basket{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#abCheckoutBtn {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    background: #00B77E;
    border-radius: 75px;
    border: 0;
    max-width: initial;
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    margin-right: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#abViewBasket{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #333333;
    border-radius: 75px;
    background: #FFFFFF;
    border: 2px solid #C4C4C4;
    max-width: initial;
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
p.order-pd-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
    padding: 20px 0px;
}
#addBasketModalBtn, .ab-clearpay-contant .clearpay-paragraph .clearpay-logo{
    display: none;
}
.ab-clearpay-contant .clearpay-paragraph{
    display: block !important;
    margin: 0 !important;
    color: #333333;
}

.clearpay-link {
    color: #333333;
}
.clearpay-link-inner {
    padding-right: 0;
    padding-left: 5px;
}
.ab-clearpay-contant {
    padding-left: 10px;
    margin-top: 5px;
}
.ab-clearpay,  .ab-klarna{
    display: flex;
    justify-content: start;
    padding: 15px;
}
@media only screen and (max-width: 410px){
    .free-man p {
        font-size: 13px !important;
    }
}
form .desc_blk{
    display: none;
}
.add-basket-modal-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body #footer .trustpilot-widget{
    padding: 10px !important;
}
#content .h_row_4{
    background: #F3F3F3;
    padding: 15px;
}
.last-acc .accordion{
    border-bottom: 2px solid #EFEFEF !important;
}
.review-acc .spr-starrating{
    font-size: 80%;
}

span.serial {
    position: relative;
    margin-left: 10px;
    padding-right: 2px;
}
.common-accordian:nth-child(1) .serial:before {
    content: '1. ';
    position: absolute;
    left: -15px;
}
.common-accordian:nth-child(2) .serial:before {
    content: '2. ';
    position: absolute;
    left: -15px;
}
.common-accordian:nth-child(3) .serial:before {
    content: '3. ';
    position: absolute;
    left: -15px;
}
.common-accordian:nth-child(4) .serial:before {
    content: '4. ';
    position: absolute;
    left: -15px;
}
.common-accordian:nth-child(5) .serial:before {
    content: '5. ';
    position: absolute;
    left: -15px;
}
.common-accordian:nth-child(6) .serial:before {
    content: '6. ';
    position: absolute;
    left: -15px;
}
.common-accordian {
    position: relative;
}
.dec-main-acc.rte {
    padding: 0px;
    border-top: 30px solid #F3F3F3;
}
.accordion-menu .panel {
    border: 0;
    margin-bottom: 0;
}
.com-d-none{
    display: none;
}
body #image-block .flex-control-thumbs .flex-active, body #image-block #carousel .flex-active-slide img {
    opacity: 1;
    cursor: default;
    border: 2px solid #828282;
}
a[href="#abReview"] {
    display: flex;
}
.dec-panel a {
    color: #00B77E !important;
    text-decoration: underline;
}
.dec-accordion strong, .dec-panel strong {
    font-weight: 500;
}
.dec-main-acc li {
    font-size: 14px;
}
.dec-accordion .spr-badge-caption{
    font-size: 14px;
    font-weight: 500;
}
.accordion-menu .panel {
    padding: 0px 8px;
    box-shadow: none;
}
.ab-review-panal .spr-review-header-byline{
    font-style: normal;
    font-size: 14px;
}
body .h_row_4 .clearfix h3{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px !important;
    line-height: 25px !important;
    color: #333333 !important;
    padding-top: 5px;
    margin-left: -5px;
}
body #content .h_row_4 .carosel{
    padding-top: 15px;
}
body #content .product_c #featured-products .main_box {
    margin: 0 5px 0px;
}
#abReview .dec-accordion {
    text-transform: capitalize;
}
.title_right{
    display: none;
}
#candyrack-root{
    display: none;
}

#content .h_row_4 {
    background: #F3F3F3;
    padding: 15px 15px 0px;
}
#image-block .flexslider .slides img {
    max-width: 100%;
    display: block;
    height: 280px !important;
    object-fit: contain;
}
strong.clearpay-instalments {
    font-weight: 500;
}
button.ab-cart-btn i {
    font-size: 14px;
    padding-left: 5px;
}

.swatch-value-container.swatch-selected .swatch-value{
    transform: scale(1) !important;
    border: 0;
}
.swatch-value-container.swatch-selected {
    border: 2px solid #00B77E;
}
.swatch-value-container.swatch-selected span{
    color: #00B77E;
}


@media only screen and (max-width: 360px){
    .row #image-block .flex-control-thumbs img {
        min-width: 60px;
    }
    .ab-add-to-cart .ab-cart-btn {
        min-width: 300px;
    }
    #image-block .flexslider .slides img {
        height: 230px !important;
    }
    
}
#abCheckoutBtn i,  #abViewBasket i{
    font-size: 14px;
    padding-left: 7px;
}
.ab-cart-btn .ac-arrow svg, #abCheckoutBtn .ac-arrow svg, #abViewBasket .ac-arrow svg{
    width: 9px;
}
.ab-cart-btn .ac-arrow svg path, #abCheckoutBtn .ac-arrow svg path{
    fill: #ffff;
}

.accordion-menu > .common-accordian:nth-last-child(3){
    border-bottom: 2px solid #EFEFEF !important;
}
.dec-panel ul li p {
    padding: 0;
}

h2.sub-0 {
    margin-top: 5px;
    font-size: 16px !important;
    color: #333333;
    font-weight: 500 !important;
    line-height: 20px;
    font-family: 'Open Sans';
    display: block !important;
}
.dec-main-acc.rte p{
    color: #333333;
}
.dec-main-acc .dec-panel table ~ p {
    padding: 0;
}
.dec-main-acc .dec-panel table ~ p:last-child::before {
    content: 'Please Note';
    display: flex;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-weight: 500;
}
.dec-panel .rte__table-wrapper {
    padding-bottom: 25px;
}
.subTitle, .dec-panel p br, .empty-clearpay, afterpay-placement{
    display: none !important;
}
.ac-arrow svg{
    width: 12px;
}
.dec-accordion.dec-active ~ .dec-panel {
    padding: 0 18px;
}
button.ab-cart-btn span {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}
button.ab-cart-btn span.ac-arrow {
    position: absolute;
    bottom: 16px;
}
.ab-title {
    padding-top: 0;
}
.dec-main-acc .dec-panel table ~ p:last-child::first-letter {
    margin-left: -3px;
    text-transform: uppercase;
}
@media only screen and (max-width: 340px){
    #image-block .flexslider .slides img {
        height: 215px !important;
    }
    #image-block .flex-control-thumbs li{
        border: 4px solid #fff !important;
    }
    
}